[Unit]
Description=Caddy container for Nextcloud

[Container]
ContainerName=caddy
Image=docker.io/caddy:latest
Pod=nextcloud.pod
Label=io.containers.autoupdate=registry
# Change if necessary:
Volume=${HOME}/caddy/caddy_data:/data:Z
Volume=${HOME}/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=${HOME}/html:/var/www/html:ro,z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target